<!DOCTYPE html>
<html>
<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Forums</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
        <div id="header">
                <ul>
                
                <li><a href="/home">Home</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/forum">Forum</a></li>
                <li><a href="/shop">Shop</a></li>
                <li style="float:right"><a  href="/logout">Logout</a></li>
                <li style="float:right"><a class="active" href="/register">Register</a></li>
                <li style="float:right"><a  href="/contact">Contact Us</a></li>
                </ul>
        
        </div>
        
        
        
        <div id="wrapper">
        
              

                <div class="forum_posts">
                        <a class="forum_links" href="/things_to_do"><h2>Things to do</h2></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus molestias reprehenderit enim voluptates corporis dolore, 
                                laboriosam ad quas sit incidunt, expedita facilis iure, delectus debitis cupiditate perferendis aliquam? Vero.</p>
                </div>
                <div class="forum_posts">
                        <a class="forum_links" href="/what_to_expect"><h2>What to expect - During the pregnancy and after your little one has joined the party!</h2></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus molestias reprehenderit enim voluptates corporis dolore, 
                                laboriosam ad quas sit incidunt, expedita facilis iure, delectus debitis cupiditate perferendis aliquam? Vero.</p>
                </div>
                <div class="forum_posts">
                        <a class="forum_links" href="/recipes"><h2>Easy recipes - Easy and tasty recipes</h2></a>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus molestias reprehenderit enim voluptates corporis dolore, 
                                laboriosam ad quas sit incidunt, expedita facilis iure, delectus debitis cupiditate perferendis aliquam? Vero.</p>
                </div>
                <div class="forum_posts">
                        <a class="forum_links" href="/allergies"><h2>Allergies - anything you need to know if your little one has food allergies</h2></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus molestias reprehenderit enim voluptates corporis dolore, 
                                laboriosam ad quas sit incidunt, expedita facilis iure, delectus debitis cupiditate perferendis aliquam? Vero.</p>
                </div>
                  <div class="forum_posts">
                        <a class="forum_links" href="/where_to"><h2>Where to's - Where to buy - best prices and deals you want to share</h2></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus molestias reprehenderit enim voluptates corporis dolore, 
                                laboriosam ad quas sit incidunt, expedita facilis iure, delectus debitis cupiditate perferendis aliquam? Vero.</p>
                </div>
                <div class="forum_posts">
                        <a class="forum_links" href="/classifieds"><h2>Classifieds - Buy and sell everything baby!</h2></a>
                        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus molestias reprehenderit enim voluptates corporis dolore, 
                                laboriosam ad quas sit incidunt, expedita facilis iure, delectus debitis cupiditate perferendis aliquam? Vero.</p>
                </div>
                
        </div>
        <div id="footer">

                <div id="about">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Reprehenderit blanditiis architecto modi at adipisci!</p>

                </div>
                <div id="links">
                        <h3>Useful Links</h3>
                        <a href="/home" style="color:#f1eaee;">Home</a></br>
                        <a href="/forum" style="color:#f1eaee;">Forum</a></br>
                        <a href="/articles" style="color:#f1eaee;">Articles</a></br>
                        <a href="/shop" style="color:#f1eaee;">Shop</a></br>
                        
                        

                </div>
                <div id="subcribe">
                        <h3>Subscribe for Updates</h3>
                        <p>Subcribe here to get the latest updates and news on all things Dad Life</p>
                        <button type="button" class="sub_button">Subcribe</button>

                </div>
                


        </div>
        
</body>
</html>