<!DOCTYPE html>
<html>
<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Shop - find the latest Dad_Life gear</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
<div id="skin">        


        <div id="header">
                <ul>
                
                <li><a href="/home">Home</a></li>
                <li><a href="articles">Articles</a></li>
                <li><a href="forum">Forum</a></li>
                <li><a href="/shop">Shop</a></li>
                <li style="float:right"><a  href="/logout">Logout</a></li>
                <li style="float:right"><a class="active" href="/subcribe">Subcribe</a></li>
                <li style="float:right"><a  href="/contact">Contact Us</a></li>
                </ul>
        
        </div>
        <div id="wrapper">
                
                        <div class="shop_img">
                                <a href="/day_bag">
                                <img src="https://cdn.shopify.com/s/files/1/1141/8380/products/DeuceLoadOutAmazon-BlackCamo_768x.progressive.jpg?v=1572887663" alt="daddy bag">
                                </a>
                                <div class="centered">Day Pack</div>
                        </div>
                        <div class="shop_img">
                                <a href="/shirts">
                                <img  src="https://rlv.zcache.com/hashtag_dad_life_t_shirt_dadlife_t_shirt-rd022b49903b041bb83eecac980b449c6_k2gpm_540.jpg" alt="grey tee with black print">
                                </a>
                                <div class="centered">T-Shirts</div>
                        </div>
                        <div class="shop_img">
                                <a href="/hats">
                                <img id="shop_img" src="https://cdn.shopify.com/s/files/1/0084/8288/1607/products/image_84c725a4-2a39-4f6f-b6ae-db811c051dd6.jpg?v=1584417396" alt="grey hat with leather badge">
                                </a>
                                <div class="centered">Hats</div>
                        </div>
                        <div class="shop_img">
                                <a href="/hoodies">
                                <img id="shop_img" src="https://images1.teeshirtpalace.com/images/productImages/afth/Dadlife/productImage/Dadlife-black-afth-garment.webp?width=602" alt="black hoodie wih white print">
                                </a>
                                <div class="centered">Hoodies</div>
                        </div>
       
                <div id="shop_footer">

                        <div id="about">
                        <h3>About Us</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Reprehenderit blanditiis architecto modi at adipisci!</p>

                        </div>

                        <div id="links">
                                <h3>Useful Links</h3>
                                <a href="/home" style="color:#f1eaee;">Home</a></br>
                                <a href="/forum" style="color:#f1eaee;">Forum</a></br>
                                <a href="/articles" style="color:#f1eaee;">Articles</a></br>
                                <a href="/shop" style="color:#f1eaee;">Shop</a></br>
                                
                                
        
                        </div>
                        <div id="subcribe">
                                <h3>Subscribe for Updates</h3>
                                <p>Subcribe here to get the latest updates and news on all things Dad Life</p>
                                <button type="button" class="sub_button">Let's Do This!</button>
        
                        </div>

                       


                </div>
        </div>
</div>        
</body>
</html>